.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 6rem;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(30%);
  min-height: 100vh;
  max-height: 100vh;
}

.title {
  font-size: 3.5rem;
  font-weight: 600;
  color: rgb(234, 234, 234);
  text-align: center;
}

.subtitle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50%;
}

.subtitle h3 {
  font-size: 1rem;
  color: rgb(234, 234, 234);
  font-weight: 400;
  text-align: center;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.game-buttons {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}