$smartphones-size: 320px;
$small-tablets-size: 480px;
$tablets-size: 768px;
$laptops-size: 1024px;

.p-home {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4rem;
	padding: 12rem;
	height: 100vh;
	background-size: cover;
	background-position: center;

	&__title {
		font-size: 3.5rem;
		font-weight: 600;
		color: rgb(234, 234, 234);
		text-align: center;
	}

	&__subtitle {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		h3 {
			font-size: 1rem;
			color: rgb(234, 234, 234);
			font-weight: 400;
			text-align: center;
		}
	}

	&__user-input {
		color: white;
		text-align: center;
		border-bottom: 2px solid white;
		padding: 0.125rem 0;
		width: 100%;
		font-family: inherit;

		&::placeholder {
			color: white;
		}

		label {
			color: #8b8b8b;
			font-family: inherit;
			font-size: 1.25rem;
			line-height: 1.5rem;
		}

		input {
			font-family: inherit;
			color: white;
		}
	}

	&__buttons-container {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	&__game-buttons {
		display: flex;
		flex-direction: row;
		gap: 3rem;
	}

	&__button {
		border-radius: 1.5rem;
		text-transform: none;
		font-family: inherit;
		font-size: 1rem;
		padding: 0.5rem 2rem;

		&--game {
			background-color: #4477ce;
		}

		&--dashboard {
			background-color: #512b81;
			&:hover {
				background-color: #37185f;
			}
		}
	}
}

@media (max-width: $tablets-size) {
	.p-home {
		padding: 3rem;
		&__title {
			font-size: 2.75rem;
			line-height: 3rem;
		}

		&__subtitle {
			h3 {
				font-size: 0.85rem;
				line-height: 1rem;
			}
		}
		&__button {
			font-size: 0.85rem;
		}
		&__user-input {
			padding: 0;

			&::placeholder {
				color: white;
			}

			label {
				font-size: 1rem;
				line-height: 1.25rem;
			}

			input {
				color: white;
			}
		}
	}
}

@media (max-width: $tablets-size) {
	.p-home {
		padding: 2 rem;
		&__title {
			font-size: 2.75rem;
			line-height: 3rem;
		}

		&__subtitle {
			h3 {
				font-size: 0.85rem;
				line-height: 1rem;
			}
		}
		&__game-buttons {
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}

		&__button {
			width: 100%;
		}
	}
}
