@mixin m-button-properties($color) {
	background-color: $color;
	border: 2px lighten($color: $color, $amount: 0.1) solid;
	transition: background-color 0.4s ease;

	&:hover {
		background-color: darken($color, 10%);
	}

	&.c-button--inline {
		background-color: transparent;
		color: $color;
		border: 2px $color solid;
		transition: all 0.4s ease;

		&:hover {
			background-color: $color;
			border: 2px lighten($color: $color, $amount: 0.1) solid;
			color: white;
		}
	}
}

.c-button {
	font-family: inherit;
	font-size: 1rem;
	border-radius: 1.5rem;
	padding: 0.5rem 2rem;
	color: white;

	&:hover {
		cursor: pointer;
	}

	&--primary {
		@include m-button-properties(#4477ce);
	}

	&--secondary {
		@include m-button-properties(#512b81);
	}

	&--error {
		@include m-button-properties(#d74d4d);
	}
}
