$smartphones-size: 320px;
$small-tablets-size: 480px;
$tablets-size: 768px;
$laptops-size: 1024px;

.p-game {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;

	&__image {
		position: relative;
		width: 50%;
		height: 100%;
		background-size: cover;
		background-position: center;

		&:hover {
			&.p-game-page__image--left .p-game-page__select-img {
				display: flex;
				background-color: black;
				color: white;
				box-shadow: 10px -1px 10px 0px rgba(0, 0, 0, 0.75);
				cursor: pointer;
				-webkit-box-shadow: 10px -1px 10px 0px rgba(0, 0, 0, 0.75);
				-moz-box-shadow: 10px -1px 10px 0px rgba(0, 0, 0, 0.75);
				z-index: 9;
			}

			&.p-game-page__image--right .p-game-page__select-img {
				display: flex;
				background-color: black;
				color: white;
				cursor: pointer;
				box-shadow: -10px -1px 10px 0px rgba(0, 0, 0, 0.75);
				-webkit-box-shadow: -10px -1px 10px 0px rgba(0, 0, 0, 0.75);
				-moz-box-shadow: -10px -1px 10px 0px rgba(0, 0, 0, 0.75);
				z-index: 9;
			}
		}
	}

	&__select-img {
		position: absolute;
		display: none;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: transparent;
		background-color: transparent;
		opacity: 0.6;
		z-index: 10;
	}

	&__select-img-txt {
		font-size: 3rem;
		line-height: 3.25rem;
		font-weight: 500;
	}

	&__img-data {
		position: absolute;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: center;
		justify-content: center;
		z-index: 4;
		bottom: 2rem;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
	}

	&__image-title {
		font-size: 1.5rem;
		line-height: 1.75rem;
		font-weight: 500;
	}

	&__image-description {
		font-size: 1rem;
		line-height: 1.25rem;
		font-weight: 500;
	}

	&__result {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		z-index: 5;
	}

	&__result-txt {
		font-size: 3rem;
		line-height: 3.25rem;
		font-weight: 500;
		color: white;
	}

	&__icon-back {
		position: absolute;
		top: 1rem;
		left: 1rem;
		stroke: white;
		z-index: 10;
		cursor: pointer;
	}

	&__result-img {
		position: relative;
		width: 225px;
		height: 225px;
	}

	.p-next-round {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 3rem;
		z-index: 999;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba($color: #000000, $alpha: 0.6);
		color: white;

		&__score-container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__title {
			font-size: 2rem;
		}

		&__score {
			font-size: 2.5rem;
		}

		&__historical-score-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.25rem;
		}

		&__historical-score {
		}

		&__button-container {
			display: flex;
			flex-direction: row;
			gap: 5rem;
		}

		&__button {
			border-radius: 1.5rem;
			text-transform: none;
			font-family: inherit;
			font-size: 1rem;
			padding: 0.5rem 2rem;

			&--next {
				background-color: #4477ce;
			}
			&--exit {
				border: 2px solid #d74d4d;
				color: #d74d4d;
				&:hover {
					border-color: darken($color: #d74d4d, $amount: 0.3);
				}
			}
		}
	}
}

@media (max-width: $tablets-size) {
	.p-game {
		flex-direction: column;

		&__image {
			width: 100%;
			height: 50%;
		}

		&__select-img-txt {
			font-size: 2rem;
			line-height: 2 0.25rem;
			font-weight: 500;
		}

		&__result-img {
			position: relative;
			width: 144px;
			height: 144px;
		}

		&__result-txt {
			font-size: 2rem;
			line-height: 2.25rem;
		}
	}
}
